<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${Titulo}">Document</title>
</head>

<body>
    <h1>Lista de empleados</h1>
    <ul>
        <li><strong>ID:</strong> <span th:text="${empleado1.id}"></span></li>
        <li><strong>Nombre:</strong> <span th:text="${empleado1.nombre}"></span></li>
        <li><strong>Apellido:</strong> <span th:text="${empleado1.apellido}"></span></li>
        <li><strong>Email:</strong> <span th:text="${empleado1.direccion}"></span></li>
        <li><strong>Puesto:</strong> <span th:text="${empleado1.puesto}"></span></li>
    </ul>

    <h2>Tabla de empleados</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dirección</th>
                <th>Puesto</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="empleado : ${Empleados}">
                <td th:text="${empleado.nombre}"></td>
                <td th:text="${empleado.apellido}"></td>
                <td th:text="${empleado.direccion}"></td>
                <td th:text="${empleado.puesto}"></td>
                <td th:text="${empleado.id}"></td>
            </tr>
        </tbody>
    </table>


    <h2>Tabla de empleados 2</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dirección</th>
                <th>Puesto</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="empleado : ${Empleados2}">
                <td th:text="${empleado.nombre}"></td>
                <td th:text="${empleado.apellido}"></td>
                <td th:text="${empleado.direccion}"></td>
                <td th:text="${empleado.puesto}"></td>
                <td th:text="${empleado.id}"></td>
            </tr>
        </tbody>
    </table>


</body>

</html>